@model ProjectOneMil.Data.MyTable

<h2 class="text-danger">Edit Data</h2>
<hr />
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Column1"></label>
        <input asp-for="Column1" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column2"></label>
        <input asp-for="Column2" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column3"></label>
        <input asp-for="Column3" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column4"></label>
        <input asp-for="Column4" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column5"></label>
        <select asp-for="Column5" class="form-control">
            <option value="true" selected="@(Model.Column5 ? "selected" : null)">True</option>
            <option value="false" selected="@(Model.Column5 ? null : "selected")">False</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Column6"></label>
        <input asp-for="Column6" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column7"></label>
        <input asp-for="Column7" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column8"></label>
        <input asp-for="Column8" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column9"></label>
        <input asp-for="Column9" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Column10"></label>
        <input asp-for="Column10" class="form-control" />
    </div>
    <button type="submit" class="btn btn-danger">Save</button>
</form>
