@{
    ViewData["Title"] = "MyTable Index";
    var columnNames = new[] { "Id", "Column1", "Column2", "Column3", "Column4", "Column5", "Column6", "Column7", "Column8", "Column9", "Column10" };
}

<a class="btn btn-primary" asp-action="Create">Create Data</a>
<hr />
<div style="overflow-x:auto;">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                @for (var i = 0; i < columnNames.Length; i++)
                {
                    <th>@columnNames[i]</th>
                }
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetMyTableData", "MyTable")",
                    "type": "POST"
                },
                "processing": true,
                "serverSide": true,
                "scrollX": true,
                "columns": [
                    { "data": "id", "name": "Id", "width": "50px" },
                    { "data": "column1", "name": "Column1", "width": "100px" },
                    { "data": "column2", "name": "Column2", "width": "100px" },
                    { "data": "column3", "name": "Column3", "width": "100px" },
                    { "data": "column4", "name": "Column4", "width": "150px" },
                    { "data": "column5", "name": "Column5", "width": "50px" },
                    { "data": "column6", "name": "Column6", "width": "150px" },
                    { "data": "column7", "name": "Column7", "width": "150px" },
                    { "data": "column8", "name": "Column8", "width": "100px" },
                    { "data": "column9", "name": "Column9", "width": "100px" },
                    { "data": "column10", "name": "Column10", "width": "200px" }
                ]
            });
        });
    </script>
}
