@{
    ViewData["Title"] = "MyTable Index";
}

<a class="btn btn-primary" asp-action="Create">Create Data</a>
<hr />
<table id="example" class="display" style="width:50%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Column1</th>
            <th>Column2</th>
            <th>Column3</th>
            <th>Column4</th>
            <th>Column5</th>
            <th>Column6</th>
            <th>Column7</th>
            <th>Column8</th>
            <th>Column9</th>
            <th>Column10</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetMyTableData", "MyTable")",
                    "datatype": "json",
                    "type": "GET"
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Column1" },
                    { "data": "Column2" },
                    { "data": "Column3" },
                    { "data": "Column4" },
                    { "data": "Column5" },
                    { "data": "Column6" },
                    { "data": "Column7" },
                    { "data": "Column8" },
                    { "data": "Column9" },
                    { "data": "Column10" }
                ]
            });
        });
    </script>
}
